<%= form_for [@blog,@post,@comment] do |form| %>

  <div class="form-group">
    <p>
      <%= form.label :content %><br />
      <%= form.text_area :content, :class => "form-control", :size => 150 %>
    </p>
  </div>


  <p style="align-items: right; float: right">
    <%= form.submit "Dodaj komentarz", :class => "btn btn-warning" %>
  </p>
<% end %>