<h1>Blogi</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Wlasciciel</th>
    <th>Data</th>
  </tr>

<% for post in @posts %>
  <tr>
    <td><%=h post. %></td>
    <td><%=h blog.user_id %></td>
    <td><%=h blog.dataZalozenia %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj bloga', new_blog_path %>